# Plotagem

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
df4=pd.read_csv('Data/df4.csv')
df4

,Unnamed: 0,seller_id,total_vendas,review_score,antecipacao_entrega
0,0,6560211a19b47992c3666cc44a7e94c0,2020,5.0,11.0
1,1,4a3ca9315b744ce9f8e9374361493884,1984,4.0,10.0
2,2,1f50f920176fa81dab994f9023523100,1932,5.0,11.0
3,3,cc419e0650a3c5ba77189a1882b7556a,1811,5.0,12.0
4,4,da8622b14eb17ae2831f4ac5b9dab84a,1568,5.0,11.0
...,...,...,...,...,...
3085,3085,43753b27d77860f1654aa72e251a7878,1,5.0,0.0
3086,3086,5dc4bdaf869e8c77c648078cbe8d59c2,1,1.0,0.0
3087,3087,344223b2a90784f64136a8a5da012e7f,1,2.0,-1.0
3088,3088,28d162ab86bb49d719c32f0ee6186eaa,1,4.0,11.0
3089,3089,d3e7d37c0df9aef383f3f2a15b0dddfb,1,5.0,23.0

In [48]:
df4.loc[df4['total_vendas']<8].count()

Unnamed: 0             1544
seller_id              1544
total_vendas           1544
review_score           1544
antecipacao_entrega    1544
dtype: int64

In [2]:
df1=pd.read_csv('Data/df1.csv')

In [15]:
df1=df1.merge(df4, left_on='seller_id', right_on='seller_id',how='left' )

In [19]:
df1.groupby('seller_id',as_index=False )['total_vendas']<5

TypeError: '<' not supported between instances of 'DataFrameGroupBy' and 'int'

In [8]:
df1.to_csv('Data/df1.csv')

In [42]:
df_plot=df1.drop(columns=['Unnamed: 0', 'seller_zip_code_prefix', 'seller_city', 'order_id', 'product_id', 'customer_id_x', 'order_approved_at_x', 'Unnamed: 0_y', 'customer_id_y', 'order_purchase_timestamp_y', 'order_approved_at_y', 'order_delivered_carrier_date_y', 'order_delivered_customer_date_y', 'order_estimated_delivery_date_y', 'review_creation_date', 'review_answer_timestamp' ])

In [51]:
df_plot(df_plot.groupby('product_category_name', as_index=False)['order_item_id'].sum()

        product_category_name  order_item_id
0   agro_industria_e_comercio          265.0
1                   alimentos          572.0
2           alimentos_bebidas          366.0
3                       artes          228.0
4          artes_e_artesanato           26.0
..                        ...            ...
68    sinalizacao_e_seguranca          305.0
69   tablets_impressao_imagem           87.0
70                  telefonia         5131.0
71             telefonia_fixa          364.0
72      utilidades_domesticas         9027.0

[73 rows x 2 columns]

In [52]:
df_plot.to_csv('Data/df_plot.csv')

In [56]:
df_plot['seller_state'].value_counts()

SP    80153
MG     8794
PR     8687
RJ     4790
SC     4059
RS     2188
DF      900
BA      643
GO      518
PE      445
MA      399
ES      367
MT      145
CE       94
RN       56
MS       49
PB       37
RO       14
PI       12
SE       10
PA        8
AM        3
AC        1
Name: seller_state, dtype: int64