In [3]:
import pandas as pd
import numpy as np
import os
import re
from sklearn.linear_model import LinearRegression
import seaborn as sns
import glob
import pandas as pd

## Vendedores - Seller

In [4]:
vendedores = pd.read_csv("data\olist_sellers_dataset.csv") #seller

# tabela de vendedores 3095 linhas  4 colunas ('seller_id', 'seller_zip_code_prefix', 'seller_city', 'seller_state')

In [11]:
vendedores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

In [17]:
vendedores.isnull().sum()

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

In [13]:
vendedores.columns

Index(['seller_id', 'seller_zip_code_prefix', 'seller_city', 'seller_state'], dtype='object')

In [16]:
print("Nº total de vendedores exclusivos:",len((vendedores.seller_id).unique()))

Nº total de vendedores exclusivos: 3095

In [86]:
vendedores.to_csv('vendedores.csv')

In [90]:
vendedores.shape

(3095, 4)

## Pagamentos - payments

In [22]:
pagamentos = pd.read_csv("data\olist_order_payments_dataset.csv") #payments


# tabela de pagamentos 103886 linhas  5 colunas ('order_id', 'payment_sequential', 'payment_type','payment_installments', 'payment_value')

In [19]:
pagamentos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [20]:
pagamentos.isnull().sum()

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [21]:
pagamentos.columns

Index(['order_id', 'payment_sequential', 'payment_type',
       'payment_installments', 'payment_value'],
      dtype='object')

In [26]:
pagamentos.groupby('payment_type').size()

payment_type
boleto         19784
credit_card    76795
debit_card      1529
not_defined        3
voucher         5775
dtype: int64

In [41]:
pagamentos.loc[pagamentos['payment_type']=='not_defined']

,order_id,payment_sequential,payment_type,payment_installments,payment_value
51280,4637ca194b6387e2d538dc89b124b0ee,1,not_defined,1,0.0
57411,00b1cb0320190ca0daa2c88b35206009,1,not_defined,1,0.0
94427,c8c528189310eaa44a745b8d9d26908b,1,not_defined,1,0.0

In [51]:
pagamentos.drop(index=pagamentos.loc[pagamentos['payment_type']=='not_defined'].index, inplace=True)

In [53]:
pagamentos['payment_type'].value_counts()

credit_card    76795
boleto         19784
voucher         5775
debit_card      1529
Name: payment_type, dtype: int64

In [87]:
pagamentos.to_csv('pagamentos.csv')

In [89]:
pagamentos.shape

(103883, 5)

## Clientes - customers

In [76]:
clientes = pd.read_csv("data\olist_customers_dataset.csv") #customers

# tabela de clientes 99441 linhas  5 colunas ('customer_id', 'customer_unique_id', 'customer_zip_code_prefix','customer_city', 'customer_state')

In [77]:
clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [78]:
clientes.isnull().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [79]:
clientes.columns

Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state'],
      dtype='object')

In [88]:
clientes.to_csv('clientes.csv')

### Cidade

In [80]:
clientes.customer_city.unique()

array(['franca', 'sao bernardo do campo', 'sao paulo', ...,
       'monte bonito', 'sao rafael', 'eugenio de castro'], dtype=object)

In [81]:
len(clientes.customer_city.unique())

4119

### Estado

In [82]:
clientes.customer_state.unique()

array(['SP', 'SC', 'MG', 'PR', 'RJ', 'RS', 'PA', 'GO', 'ES', 'BA', 'MA',
       'MS', 'CE', 'DF', 'RN', 'PE', 'MT', 'AM', 'AP', 'AL', 'RO', 'PB',
       'TO', 'PI', 'AC', 'SE', 'RR'], dtype=object)

In [83]:
len(clientes.customer_state.unique())

27

In [84]:
clientes.groupby('customer_city').count()['customer_id'].reset_index()

            customer_city  customer_id
0     abadia dos dourados            3
1               abadiania            1
2                  abaete           12
3              abaetetuba           11
4                 abaiara            2
...                   ...          ...
4114             xinguara            9
4115          xique-xique            3
4116             zacarias            2
4117              ze doca            5
4118               zortea            2

[4119 rows x 2 columns]

In [24]:
itens = pd.read_csv("Data/itens.csv") 
ordens = pd.read_csv("Data/ordens.csv")
produtos = pd.read_csv("Data/produtos.csv")
geolocal = pd.read_csv("Data/geolocal.csv")
clientes = pd.read_csv("Data/clientes.csv")
avaliacoes = pd.read_csv('Data/avaliacoes.csv')
vendedores = pd.read_csv("Data/vendedores.csv")

In [14]:
ordens['order_status'].value_counts()

delivered      96478
shipped         1107
canceled         625
unavailable      609
invoiced         314
processing       301
created            5
approved           2
Name: order_status, dtype: int64

In [17]:
avaliacoes.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'review_id', 'order_id', 'review_score',
       'review_creation_date', 'review_answer_timestamp'],
      dtype='object')

In [19]:
avaliacoes['review_score'].value_counts()

5    57328
4    19142
1    11424
3     8179
2     3151
Name: review_score, dtype: int64

In [21]:
df = itens.merge(ordens, left_on='order_id',right_on='order_id', how='inner')

In [22]:
df = df.merge(vendedores, left_on='seller_id', right_on='seller_id', how='inner')

## Avaliações

In [9]:
avaliacoes = pd.read_csv('Data/avaliacoes.csv') # reviews

In [10]:
avaliacoes.shape

(99224, 7)

In [6]:
avaliacoes.isnull().sum()

Unnamed: 0.1               0
Unnamed: 0                 0
review_id                  0
order_id                   0
review_score               0
review_creation_date       0
review_answer_timestamp    0
dtype: int64

In [11]:
avaliacoes.drop_duplicates(inplace=True)

In [12]:
avaliacoes.shape

(99224, 7)

In [23]:
df = pd.merge(ordens,pagamentos, on='order_id')
df = df.merge(clientes, on='customer_id')
df = df.merge(itens, on='order_id')
df = df.merge(product_category, on='product_id')
df = df.merge(product_category, on='product_category_name')
df = df.merge(avaliacoes, on='order_id')
df = df.merge(vendedores, on='seller_id')

NameError: name 'pagamentos' is not defined