In [1]:
import pandas as pd
import numpy as np
import os
import re
from sklearn.linear_model import LinearRegression
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
import glob
import pandas as pd
from sklearn.model_selection import train_test_split
from pycaret.regression import *
from sklearn.preprocessing import StandardScaler

In [78]:
df_fim = pd.read_csv("Data/final_df.csv")

In [ ]:
total = df_fim.isnull().sum().sort_values(ascending=False)
percent = (df_fim.isnull().sum()/df_fim.isnull().count()).sort_values(ascending=False)
missing = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing.head(4)

In [4]:
df_fim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111209 entries, 0 to 111208
Data columns (total 37 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Unnamed: 0.1                   111209 non-null  int64
 1   Unnamed: 0_x                   110513 non-null  float64
 2   seller_id                      110513 non-null  object
 3   seller_zip_code_prefix         110513 non-null  float64
 4   seller_city                    110513 non-null  object
 5   seller_state                   110513 non-null  object
 6   Unnamed: 0_y                   110513 non-null  float64
 7   order_id                       111209 non-null  object
 8   order_item_id                  110513 non-null  float64
 9   product_id                     110513 non-null  object
 10  shipping_limit_date            110513 non-null  object
 11  price                          110513 non-null  float64
 12  freight_value                  110513 non-null  float64
 13  Unnamed: 0_x.1                 111209 non-null  int64
 14  customer_id                    111209 non-null  object
 15  order_status                   111209 non-null  object
 16  order_purchase_timestamp       111209 non-null  object
 17  order_approved_at              111209 non-null  object
 18  order_delivered_carrier_date   111209 non-null  object
 19  order_delivered_customer_date  111209 non-null  object
 20  order_estimated_delivery_date  111209 non-null  object
 21  prazo_entrega                  111209 non-null  float64
 22  Unnamed: 0_y.1                 110513 non-null  float64
 23  product_category_name          110513 non-null  object
 24  product_name_lenght            108939 non-null  float64
 25  product_description_lenght     108939 non-null  float64
 26  product_photos_qty             108939 non-null  float64
 27  product_weight_g               110495 non-null  float64
 28  product_length_cm              110495 non-null  float64
 29  product_height_cm              110495 non-null  float64
 30  product_width_cm               110495 non-null  float64
 31  Unnamed: 0                     111209 non-null  int64
 32  review_id                      111209 non-null  object
 33  review_score                   111209 non-null  int64
 34  review_creation_date           111209 non-null  object
 35  review_answer_timestamp        111209 non-null  object
 36  tempo_resposta                 111209 non-null  int64
dtypes: float64(15), int64(5), object(17)
memory usage: 31.4+ MB

In [79]:
df_fim['product_category_name'] = df_fim['product_category_name'].fillna('not_reported')
df_fim.head(3)

,Unnamed: 0.1,Unnamed: 0_x,seller_id,seller_zip_code_prefix,seller_city,seller_state,Unnamed: 0_y,order_id,order_item_id,product_id,...,product_weight_g,product_length_cm,product_height_cm,product_width_cm,Unnamed: 0,review_id,review_score,review_creation_date,review_answer_timestamp,tempo_resposta
0,0,559.0,3504c0cb71d7fa48d967e0e4c94d59d9,9350.0,maua,SP,100785.0,e481f51cbdc54678b7cc49136f2d6af7,1.0,87285b34884572647811a353c7ac498a,...,500.0,19.0,8.0,13.0,32206,a54f0611adc9ed256b57ede6b6eb5114,4,2017-10-11 00:00:00,2017-10-12 03:43:48,-2
1,1,549.0,289cdb325fb7e7f891c38608bf9e0962,31570.0,belo horizonte,SP,36896.0,53cdb2fc8bc7dce0b6741e2150273451,1.0,595fac2a385ac33a80bd5114aec74eb8,...,400.0,19.0,13.0,19.0,28635,8d5266042046a06655c8db133d120ba5,4,2018-08-08 00:00:00,2018-08-08 18:37:50,-1
2,2,2617.0,4869f7a5dfa277a7dca6462dcf3b52b2,14840.0,guariba,SP,31504.0,47770eb9100c2d0c44946d9cf07ec65d,1.0,aa4383b373c6aca5d8797843e5594415,...,420.0,24.0,19.0,21.0,4253,e73b67b67587f7644d5bd1a52deb1b01,5,2018-08-18 00:00:00,2018-08-22 19:07:58,-5

In [80]:
df_fim.drop(['Unnamed: 0_y','order_id', 'product_id', 'review_creation_date', 'review_answer_timestamp',  ],axis=1, inplace=True)

In [81]:
df_fim.isnull().sum()

Unnamed: 0.1                        0
Unnamed: 0_x                      696
seller_id                         696
seller_zip_code_prefix            696
seller_city                       696
seller_state                      696
order_item_id                     696
shipping_limit_date               696
price                             696
freight_value                     696
Unnamed: 0_x.1                      0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                   0
order_delivered_carrier_date        0
order_delivered_customer_date       0
order_estimated_delivery_date       0
prazo_entrega                       0
Unnamed: 0_y.1                    696
product_category_name               0
product_name_lenght              2270
product_description_lenght       2270
product_photos_qty               2270
product_weight_g                  714
product_length_cm                 714
product_height_cm                 714
product_width_cm                  714
Unnamed: 0                          0
review_id                           0
review_score                        0
tempo_resposta                      0
dtype: int64

In [82]:
df_fim.dropna(inplace=True)

In [83]:
df_fim.drop(['seller_zip_code_prefix', 'shipping_limit_date', 'Unnamed: 0_x.1','customer_id', 'order_purchase_timestamp'  ],axis=1, inplace=True)

In [84]:
df_fim.drop(['order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date','order_estimated_delivery_date'],axis=1, inplace=True)

In [85]:
df_fim.drop(['seller_city', 'review_id'],axis=1, inplace=True)

In [30]:
df_fim.head(3)

,Unnamed: 0.1,Unnamed: 0_x,seller_id,seller_state,order_item_id,price,freight_value,order_status,prazo_entrega,Unnamed: 0_y.1,...,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,Unnamed: 0,review_score,tempo_resposta
0,0,559.0,3504c0cb71d7fa48d967e0e4c94d59d9,SP,1.0,29.99,8.72,delivered,7.0,2349.0,...,40.0,268.0,4.0,500.0,19.0,8.0,13.0,32206,4,-2
1,1,549.0,289cdb325fb7e7f891c38608bf9e0962,SP,1.0,118.70,22.76,delivered,5.0,20550.0,...,29.0,178.0,1.0,400.0,19.0,13.0,19.0,28635,4,-1
2,2,2617.0,4869f7a5dfa277a7dca6462dcf3b52b2,SP,1.0,159.90,19.22,delivered,17.0,12228.0,...,46.0,232.0,1.0,420.0,24.0,19.0,21.0,4253,5,-5

In [86]:
regression = setup(data = final, remove_outliers=True, unknown_categorical_method='most_frequent', target = 'review_score', session_id=42, imputation_type='iterative', normalize=True)

In [87]:
get_config(variable="X_test")

,Unnamed 0.1,Unnamed 0_x,order_item_id,price,freight_value,prazo_entrega,Unnamed 0_y.1,product_name_lenght,product_description_lenght,product_photos_qty,...,product_category_name_perfumaria,product_category_name_pet_shop,product_category_name_portateis_casa_forno_e_cafe,product_category_name_portateis_cozinha_e_preparadores_de_alimentos,product_category_name_relogios_presentes,product_category_name_sinalizacao_e_seguranca,product_category_name_tablets_impressao_imagem,product_category_name_telefonia,product_category_name_telefonia_fixa,product_category_name_utilidades_domesticas
512,-1.716044,-1.377489,-0.284377,-0.560079,-0.515442,0.115918,0.315313,0.223040,0.247677,-0.702511,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101674,1.432354,-1.242243,1.156996,0.129330,-0.371803,2.301603,0.179558,0.322661,1.660795,-0.702511,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45919,-0.302872,-0.139824,-0.284377,-0.337868,0.187001,0.910712,-0.513233,1.119630,-0.442022,0.456024,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8761,-1.459316,-0.120504,-0.284377,-0.337368,-0.367393,0.215267,-1.414887,1.020009,-0.455816,-0.123243,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33479,-0.690034,0.429569,-0.284377,-0.598466,-0.796419,-0.579528,1.549662,-0.474308,-0.606018,-0.123243,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27127,-0.887723,1.072837,-0.284377,-0.398976,-0.515442,-0.480179,-0.892574,0.422282,-0.609083,-0.702511,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34298,-0.664545,-1.352485,-0.284377,-0.004552,0.081792,0.811363,-0.075846,1.418493,0.394813,2.193826,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5444,-1.562549,0.913725,-0.284377,0.995898,0.066672,0.712014,-1.238133,-0.573929,0.325843,0.456024,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
72007,0.509048,-0.872876,-0.284377,0.433037,0.523417,0.513315,-0.112870,-0.673550,-1.145516,1.035292,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
44291,-0.353539,-0.127323,-0.284377,1.440264,0.987093,0.115918,1.555623,1.418493,2.201826,3.352361,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
best_model = compare_models()
best_model

IntProgress(value=0, description='Processing: ', max=94)

Initiated  . . . . . . . . . . . . . . . . . .                13:56:49
Status     . . . . . . . . . . . . . . . . . .        Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Least Angle Regression

In [ ]:
tune_model(best_model, custom_grid = {'max_depth': range(1,8)}, optimize = "Recall")

In [ ]:
et = create_model('rf')

In [ ]:
plot_model(best_model, plot='feature')

In [ ]:
final_et = finalize_model(best_model)

In [ ]:
predict_model(final_et, data=data_test)

In [ ]:
save_model(final_et,'lr_model')